<div class="container-fluid" style="display:block !important;">
  <fieldset>
    <legend style="text-align: center;">
      <div class="container">
        <h2 style=" font-weight: bolder; text-align: start;">التصنيفات</h2>
      <div class="rown searchFor">
        <div class="col-2 cat rounded" *ngFor="let cat of Categories" style="cursor: pointer;">
          <br>
          <img [src]="cat.coverImage" class="rounded" height="75px" width="75px" alt="" srcset="">
          <br>
          <div class="h4 mt-3" style="font-weight: bolder;">{{cat.name}}</div>
          <br>
        </div>
      </div>
      </div>
    </legend>
  </fieldset>
</div>
