<div class="container">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="employeeForm">
        <div class="mb-3">
          <label for="id" class="form1-label">ID</label>
          <input readonly type="text" class="form-control" id="id" name="id" formControlName="id">
        </div>

        <div class="mb-3">
          <label for="name" class="form1-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name"
          [ngClass]="{'is-invalid':((employeeForm.get('name')?.touched) || employeeForm.get('name')?.touched) && !employeeForm.get('name')?.valid}">
        </div>
        <span class="invalid-feedback">
            <span *ngIf="employeeForm.get('name')?.errors?.['required']">
              Please Enter the Name
            </span>
        </span>

        <div class="mb-3">
          <label for="email" class="form1-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email"
          [ngClass]="{'is-invalid':((employeeForm.get('email')?.touched) || employeeForm.get('email')?.touched) && !employeeForm.get('email')?.valid}">
        </div>
        <span class="invalid-feedback">
            <span *ngIf="employeeForm.get('email')?.errors?.['required']">
              Please Enter an Email
            </span>
        </span>

        <div class="mb-3">
          <label for="department" class="form1-label">Department</label>
          <input type="text" class="form-control" id="department" name="department" formControlName="department"
          [ngClass]="{'is-invalid':((employeeForm.get('department')?.touched) || employeeForm.get('department')?.touched) && !employeeForm.get('department')?.valid}">
        </div>
        <span class="invalid-feedback">
            <span *ngIf="employeeForm.get('department')?.errors?.['required']">
              Please Enter the Department
            </span>
        </span>

        <div class="mb-3">
          <label for="salary" class="form1-label">Salary</label>
          <input type="number" class="form-control" id="salary" name="salary" formControlName="salary"
          [ngClass]="{'is-invalid':((employeeForm.get('salary')?.touched) || employeeForm.get('salary')?.touched) && !employeeForm.get('salary')?.valid}">
        </div>
        <span class="invalid-feedback">
            <span *ngIf="employeeForm.get('salary')?.errors?.['required']">
              Please Enter the Salary
            </span>
        </span>

        <div class="example-button-row">
          <button type="submit" class="btn btn-success" (click)="updateEmployee(employee.id)">Save</button>
        <button type="submit" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
        </div>

      </form>
    </div>
  </div>
</div>
