<div class="container">
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="AddEmployeeComponent()">
        <div class="mb-3">
          <label for="name" class="form1-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="employee.name">
        </div>
        <div class="mb-3">
          <label for="email" class="form1-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="employee.email">
        </div>
        <div class="mb-3">
          <label for="department" class="form1-label">Department</label>
          <input type="text" class="form-control" id="department" name="department" [(ngModel)]="employee.department">
        </div>
        <div class="mb-3">
          <label for="salary" class="form1-label">Salary</label>
          <input type="number" class="form-control" id="salary" name="salary" [(ngModel)]="employee.salary">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Submite</button>
        </div>
      </form>
    </div>
  </div>
</div>
