<div class="container text-center" style="margin-top: 70px;" dir="ltr">
  <div class="row">
    <div class="col-6">
      Section 1
      <div class="gallery-container">
        <div class="main-image">
          <a [href]="unitDetails.location" target="_blank">
            <img class="icon" height="30px" width="30px" src="https://w7.pngwing.com/pngs/200/830/png-transparent-google-map-logo-google-maps-navigation-location-text-logo-sign.png" alt="">
          </a>
          <img class="main" [src]="selectedImage" alt="Main Image" />
          <div class="thumbnail-images">

            <div *ngFor="let imagePath of unitDetails.unitImagesString!.split(','); let i = index"
             class="thumbnail"
              (click)="selectImage(i)">
              <ng-container *ngIf="imagePath">
                <img [src]="'http://localhost:5219/UnitImages/'+imagePath" alt="Thumbnail Image {{ i + 1 }}">
              </ng-container>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-6">
      Section 2
      <h1 style="text-align: right;">{{unitDetails.name}}</h1>
      <h3 style="text-align: right;">{{unitDetails.address}} , {{unitDetails.city}} , {{unitDetails.governamnet}} </h3>
      <div style="text-align: right;">
        <span class="btn  disabled" style="color:white ; background-color: #FF8000;">{{unitDetails.price | currency:'EGP'}}</span>
      </div><br>
      <p style="text-align: right;">مواصفات الوحدة</p>


      <table class="table table-striped" style="text-align: center;">
        <thead>
          <tr>
            <td>{{unitDetails.floorNumber}}</td>
            <th scope="col">رقم الدور</th>

          </tr>
          <tr>
            <td>{{unitDetails.area}} متر مربع</td>
            <th scope="col">المساحة</th>

          </tr>

          <tr>
            <td>{{ unitDetails.unitType==0?'بيع':'إيجار' }}</td>
            <th scope="col">النوع</th>
          </tr>

          <tr>
            <td>{{ unitDetails.priceType==0?'ثابت':'مزاد' }}</td>
            <th scope="col">السعر</th>
          </tr>

          <tr *ngIf="unitDetails.priceType==1">
            <td >{{unitDetails.minPrice | currency:'EGP'}}</td>
            <th scope="col" >أقل سعر</th>

          </tr>
          <tr *ngIf="unitDetails.priceType==1">
            <td >{{unitDetails.maxPrice | currency:'EGP'}}</td>
            <th scope="col" >أقصي سعر</th>

          </tr>
          <tr>
            <td>{{unitDetails.capacityRoom}}</td>
            <th scope="col">عدد الغرف</th>

          </tr>
          <tr>
            <td>{{unitDetails.capacityBathRoom}}</td>
            <th scope="col">عدد الحمامات</th>

          <!-- </tr>
            <td>{{unitDetails.date | date}}</td>
            <th scope="col">التاريخ</th> -->
        </thead>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-6">

    </div>
    <div class="col-6">
      <h1 style="text-align: right;">: عن الوحدة</h1>
      <div class="container">
        <p style="direction: rtl;">
          {{unitDetails.description}}
        </p>
      </div>
      <h1 style="text-align: right;">إرسال عرضك</h1><br>



      <form class="row g-3" #form="ngForm" (ngSubmit)="addOfferComponent()">

        <div class="row">
          <textarea [(ngModel)]="addedOffer.message" style="direction:rtl" id="w3review" name="w3review" rows="7" cols="50" placeholder="إرسل رسالتك هنا"></textarea>
        </div><br>


          <div class="col-4">
            <button [disabled]="!token" style="background-color: #FF8000; color: white;" type="submit" class="btn mb-3"> تأكيـــد</button>
          </div>

          <div class="col-6" *ngIf="unitDetails.priceType ==1">
            <label for="Offer" class="visually-hidden">Offer</label>
            <input [(ngModel)]="addedOffer.price" name="price" style="border:solid #FF8000;" type="text" class="form-control" id="Offer" placeholder="السعــر المقتــرح">
          </div>
      </form>


    </div>
  </div>

  <h1 style="text-align: right;">أقترح لك </h1>

    <div class="row">
      <div class="col-4">
        <img height="300" width="300" src="https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80" class="rounded " alt="...">
      </div>
      <div class="col-4">

        <img height="300" width="300" src="https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80" class="rounded " alt="...">
      </div>
      <div class="col-4">

        <img height="300" width="300" src="https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80" class="rounded " alt="...">
      </div>
  </div>
</div>

<!-- <img src="{{unitDetails.coverImgageSrc}}" alt="">
<img src="http://localhost:5219/Images/123.jpg" alt=""> -->



